#banner {
  background-color: navy;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

#searchBox {
  margin: 0;
  margin-top: 25px;
  margin-left: 35px;
  padding: 0;
}

#searchIcon {
  height: 24px;
  width: 24px;
}

.detailsBox {
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  padding: 0;
  border-style: solid;
  border-color: lightgray;
  height: 600px;
}

.city {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.temp {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.humidity {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.wind {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.uv {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

#searchHistory{
  margin-top: 10px;
  font-size: 15px;
}

.card-body-0{
  background-color: blue;
  width: 150px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
}
.card-body-1{
  background-color: blue;
  width: 150px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
}
.card-body-2{
  background-color: blue;
  width: 150px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
}
.card-body-3{
  background-color: blue;
  width: 150px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
}
.card-body-4{
  background-color: blue;
  width: 150px;
  height: 300px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
}
